.bgImage {
  /* background-image: url("../../assets/bgImage/Bg-Banner.jpg"); */
  /* background-image: url("../../../../app/assets//bgImage/Bg-Banner.jpg"); */
  background-image: url("../../../../../app/assets/bgImage/Bg-Banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  /* opacity: 0.4; */
}

.bgImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.bgImage > * {
  position: relative;
  z-index: 2;
}

.rain-container {
  /* background-color: #6c78a9; */
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.rain {
  position: relative;
  width: 100%;
  height: 100%;
}

.rain__drop {
  animation: drop linear infinite;
  animation-delay: calc(var(--d) * 1s);
  animation-duration: calc(var(--a) * 1s);
  height: 30px;
  left: calc(var(--x) * 1%);
  position: absolute;
  top: calc((var(--y) + 50) * -1px);
}

@keyframes drop {
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(100vh);
  }
}

/* Arrow Bounce start */
.arrow {
  width: 55px;
  margin: 0 auto;
  position: relative;
  top: 120px;
  cursor: pointer;
}
.arrowImage {
  animation: arrowBounceImage 1s ease-out 0s infinite alternate both;
}
@keyframes arrowBounceImage {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@media only screen and (max-width: 576px) {
  .bgImage {
    height: 80vh;
  }
  .arrow {
    width: 30px;
    margin: 0 auto;
    position: relative;
    top: 40px;
    cursor: pointer;
  }
}
